.App {
  background-color: #000000;
  color: white;
  text-align: center;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 94vw;
}

.Subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Content {  
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: solid 3px #FFFFFF;
  border-radius: 10px;
  width: 94vw;
}

.Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 94vw;
}

.Time {
  text-align: left;
  font-family: Josefin Sans;
  font-size: 28pt;
  flex-grow: 0;
  width: 50%;
  color: #DDDDDD;
}

.Title {
  font-family: Josefin Sans;
  font-size: 50pt;
  font-weight: 700;
  font-variant-caps: all-small-caps;
  flex-grow: 0;
  width: 100%;
}

.Date {
  text-align: right;
  font-family: Josefin Sans;
  font-size: 28pt;
  flex-grow: 0;
  width: 50%;
  color: #DDDDDD;
}

.Platform {
  margin-top:1vh;
  border: solid 3px #FFFFFF;
  border-radius: 10px;
  width: 15vw;
  height: 15vw;
  background-size: cover;
}

.Footer-Text {
  margin-top:1vh;
  font-family: Josefin Sans;
  font-size: 80pt;
  font-weight: 700;
  font-variant-caps: all-small-caps;
  flex-grow: 0;
  width: 80vw;
}