body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.TitleBanner-Title {
  *:last-child {
    display: none;
  }
}

.Platform {
  width: 15vw;
  height: 15vw;
  background-size: cover;
}

.Poster {
  height:900px;
  width: 600px;
}